eventlet==0.30.2
Flask==2.0.3
Jinja2==3.1.1
Flask_Login==0.4.1
flask_ngrok==0.0.25
Flask_Session==0.3.1
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.1
googletrans==3.1.0a0
python_dateutil==2.8.2
SQLAlchemy==1.4.22
WTForms==3.0.1
MarkupSafe==2.1.1
Werkzeug==2.0.3
email_validator
Flask-SocketIO==5.0.0
python-engineio==4.0.0
python-socketio==5.0.2
