{% extends "layout.html" %}
{% block form %}

<body>
    <div class="heading">
        <h1>Register</h1>
    </div>
    <div class="form">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                <!-- {{ form.username.label }} -->
                {{ map['Username'] }}
                <!-- {{ form.username.label(class="form-label")}} -->
                {{ form.username(size=32, class="form-control")}}

                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}
                {{ form.email(size=64, class="form-control") }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <!-- {{ form.password.label }} -->
                {{ map['Password'] }}
                {{ form.password(size=32,class="form-control") }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <!-- {{ form.password2.label }} -->
                {{ map['Repeat Password'] }}
                {{ form.password2(size=32,class="form-control") }}
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                <!-- {{ form.lang.label }} -->
                {{ map['Enter Language'] }}
                {{ form.lang(class="form-select") }} <br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit(value=map['Register'], class="buttonn") }}</p>
        </form>
    </div>
</body>
{% endblock %}